{% extends "index1.html" %}

{% block content %}
    <div class="page-content page-container" id="page-content">
        <div class="padding">
            <div class="row container d-flex justify-content-center">
                <div class="col-xl-0 col-md-0">
                    <div class="card news-card-full">
                        <div class="row m-l-0 m-r-0">
                            <div class="col-sm-4 bg-c-lite-green user-profile">
                                <div class="card-block text-center text-white">
                                    <div class="m-b-25">
                                        {% if user.id == current_user.id %}
                                            <a href="profile_red"><img src="{{ url_for('useravatar', id=user.id ) }}"
                                                                       class="img-radius w-75"
                                                                       alt="url_for('useravatar', id={{ user.id }} )"></a>
                                        {% else %}
                                            <img src="{{ url_for('useravatar', id=user.id ) }}" class="img-radius w-75"
                                                 alt="url_for('useravatar', id={{ user.id }} )">
                                        {% endif %}
                                    </div>
                                    <h6 class="f-w-600">{{ user.name }}</h6>
                                    {% if user.id == current_user.id %}
                                        <i class=" mdi mdi-square-edit-outline feather icon-edit m-t-10 f-16"></i>
                                        <a href="/addwork" class="btn btn-primary">Создать пост</a>
                                    {% endif %}
                                </div>
                            </div>
                            <div class="col-sm-8">
                                <div class="card-block">
                                    <h6 class="m-b-20 m-t-40 p-b-5 b-b-default f-w-600">Проекты</h6>
                                    {% for item in news %}
                                        <div class="card">
                                            <div class="col-5 col-sm-4">
                                                <a href="../project/{{ item.id }}"
                                                   style="text-decoration: none; color:black;" class="card-title">
                                                    <img src="{{ url_for('workavatar', id=item.id) }}"
                                                         class="img-fluid w-100"
                                                         alt="card-horizontal-image">
                                                </a>
                                            </div>
                                            <div class="col-7 col-sm-8">
                                                <div class="card-body">
                                                    <a href="../project/{{ item.id }}"
                                                       style="text-decoration: none; color:black;" class="card-title">
                                                        <h5 class="card-title">{{ item.name }}</h5>
                                                    </a>
                                                    <p class="card-text">{{ item.text }}</p>
                                                    <p class="card-text"><small
                                                            class="text-muted">{{ item.tegs }}</small></p>
                                                </div>
                                            </div>
                                            {% if user.id == current_user.id %}
                                                <div class="input-group flex-nowrap ">
                                                    <a href="../project_redact/{{ item.id }}" class="btn btn-warning">Редактировать</a>
                                                    <a href="../project_delete/{{ item.id }}" class="btn btn-danger">Удалить</a>
                                                    <br><br>
                                                </div>
                                            {% endif %}
                                        </div>

                                    {% endfor %}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}