{% extends "index1.html" %}

{% block content %}
    <div class="jumbotron">
        <h1 class="display-3">Character Shorts</h1>
        <p class="lead">Приветсвуем всех любителей настольных ролевых игр!</p>
        <hr class="my-2">
        <p>Здесь вы можете как и найти готовых проработанных персонажей, так и выложить вашего героя.</p>
        <p class="lead">
            <a class="btn btn-outline-primary btn-lg" href="/seach" role="button">Поиск</a>
            <a class="btn btn-outline-success btn-lg" href="/login" role="button">Войти</a>
            <a class="btn btn-outline-dark btn-lg" href="/register" role="button">Зарегистрироваться</a>
        </p>
    </div>
{% endblock %}